USE [StudentRecordsDB]
GO
/****** Object:  Table [dbo].[CoursePrerequisites]    Script Date: 12/3/2025 2:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoursePrerequisites](
	[course_id] [int] NOT NULL,
	[prerequisite_course_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[prerequisite_course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/3/2025 2:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_code] [nvarchar](50) NOT NULL,
	[title] [nvarchar](300) NOT NULL,
	[description] [nvarchar](2000) NULL,
	[credits] [decimal](4, 2) NOT NULL,
	[department_id] [int] NOT NULL,
	[course_metadata] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12/3/2025 2:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[description] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 12/3/2025 2:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[enrollment_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[section_id] [int] NOT NULL,
	[enrolled_at] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[grade] [nvarchar](10) NULL,
	[transcript] [nvarchar](max) NULL,
	[grade_updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[enrollment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 12/3/2025 2:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[instructor_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_number] [nvarchar](30) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](320) NULL,
	[department_id] [int] NULL,
	[profile] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[instructor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programs]    Script Date: 12/3/2025 2:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programs](
	[program_id] [int] IDENTITY(1,1) NOT NULL,
	[program_code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
	[department_id] [int] NOT NULL,
	[degree_level] [nvarchar](50) NOT NULL,
	[duration_months] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[program_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 12/3/2025 2:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[section_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NOT NULL,
	[section_code] [nvarchar](30) NOT NULL,
	[term] [nvarchar](20) NOT NULL,
	[year] [int] NOT NULL,
	[instructor_id] [int] NULL,
	[capacity] [int] NOT NULL,
	[schedule] [nvarchar](max) NULL,
	[location] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[section_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAddresses]    Script Date: 12/3/2025 2:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAddresses](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[address_type] [nvarchar](20) NOT NULL,
	[line1] [nvarchar](250) NOT NULL,
	[line2] [nvarchar](250) NULL,
	[city] [nvarchar](100) NOT NULL,
	[state] [nvarchar](100) NULL,
	[postal_code] [nvarchar](30) NULL,
	[country] [nvarchar](100) NOT NULL,
	[is_primary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 12/3/2025 2:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[student_number] [nvarchar](30) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[middle_name] [nvarchar](100) NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[preferred_name] [nvarchar](100) NULL,
	[date_of_birth] [date] NOT NULL,
	[email] [nvarchar](320) NULL,
	[phone] [nvarchar](50) NULL,
	[program_id] [int] NULL,
	[enrollment_year] [int] NULL,
	[student_metadata] [nvarchar](max) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[created_by] [nvarchar](100) NULL,
	[modified_at] [datetime2](7) NULL,
	[modified_by] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemUsers]    Script Date: 12/3/2025 2:14:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUsers](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[password_hash] [nvarchar](500) NOT NULL,
	[display_name] [nvarchar](200) NULL,
	[student_id] [int] NULL,
	[instructor_id] [int] NULL,
	[roles] [nvarchar](max) NULL,
	[is_locked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[CoursePrerequisites] ([course_id], [prerequisite_course_id]) VALUES (5, 16)
INSERT [dbo].[CoursePrerequisites] ([course_id], [prerequisite_course_id]) VALUES (6, 17)
INSERT [dbo].[CoursePrerequisites] ([course_id], [prerequisite_course_id]) VALUES (13, 12)
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([course_id], [course_code], [title], [description], [credits], [department_id], [course_metadata]) VALUES (5, N'SCI201', N'Quantum Mechanics', NULL, CAST(4.00 AS Decimal(4, 2)), 1015, NULL)
INSERT [dbo].[Courses] ([course_id], [course_code], [title], [description], [credits], [department_id], [course_metadata]) VALUES (6, N'ART201', N'Renaissance Art', NULL, CAST(3.00 AS Decimal(4, 2)), 1005, NULL)
INSERT [dbo].[Courses] ([course_id], [course_code], [title], [description], [credits], [department_id], [course_metadata]) VALUES (8, N'ENG101', N'Thermodynamics', N'Heat, energy, and mechanical systems', CAST(4.00 AS Decimal(4, 2)), 1002, NULL)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([department_id], [department_code], [name], [description], [created_at], [created_by]) VALUES (1002, N'CS', N'Computer Science', N'Software, AI, and systems', CAST(N'2025-12-02T23:23:38.8318429' AS DateTime2), N'admin')
INSERT [dbo].[Departments] ([department_id], [department_code], [name], [description], [created_at], [created_by]) VALUES (1003, N'ENG', N'Engineering', N'Mechanical and electrical engineering', CAST(N'2025-12-02T23:23:38.8318429' AS DateTime2), N'admin')
INSERT [dbo].[Departments] ([department_id], [department_code], [name], [description], [created_at], [created_by]) VALUES (1004, N'BUS', N'Business', N'Finance and management', CAST(N'2025-12-02T23:23:38.8318429' AS DateTime2), N'admin')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrollments] ON 

INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [section_id], [enrolled_at], [status], [grade], [transcript], [grade_updated_at]) VALUES (5, 8, 5, CAST(N'2025-12-02T23:46:04.8297897' AS DateTime2), N'completed', N'A', NULL, NULL)
INSERT [dbo].[Enrollments] ([enrollment_id], [student_id], [section_id], [enrolled_at], [status], [grade], [transcript], [grade_updated_at]) VALUES (6, 9, 6, CAST(N'2025-12-02T23:46:04.8454736' AS DateTime2), N'enrolled', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Enrollments] OFF
GO
SET IDENTITY_INSERT [dbo].[Instructors] ON 

INSERT [dbo].[Instructors] ([instructor_id], [employee_number], [first_name], [last_name], [email], [department_id], [profile], [is_active], [created_at]) VALUES (4, N'I001', N'Jane', N'Doe', N'jane.doe@university.edu', 1002, NULL, 1, CAST(N'2025-12-02T23:39:56.6805742' AS DateTime2))
INSERT [dbo].[Instructors] ([instructor_id], [employee_number], [first_name], [last_name], [email], [department_id], [profile], [is_active], [created_at]) VALUES (5, N'I002', N'Mark', N'Lee', N'mark.lee@university.edu', 1003, NULL, 1, CAST(N'2025-12-02T23:39:56.6805742' AS DateTime2))
INSERT [dbo].[Instructors] ([instructor_id], [employee_number], [first_name], [last_name], [email], [department_id], [profile], [is_active], [created_at]) VALUES (6, N'I003', N'Susan', N'Green', N'susan.green@university.edu', 1004, NULL, 1, CAST(N'2025-12-02T23:39:56.6805742' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Instructors] OFF
GO
SET IDENTITY_INSERT [dbo].[Programs] ON 

INSERT [dbo].[Programs] ([program_id], [program_code], [name], [department_id], [degree_level], [duration_months], [created_at]) VALUES (1006, N'CS101', N'BSc Computer Science', 1002, N'Bachelor', 36, CAST(N'2025-12-03T01:37:37.6266667' AS DateTime2))
INSERT [dbo].[Programs] ([program_id], [program_code], [name], [department_id], [degree_level], [duration_months], [created_at]) VALUES (1007, N'ENG201', N'MSc Mechanical Engineering', 1003, N'Master', 24, CAST(N'2025-12-03T01:37:37.6266667' AS DateTime2))
INSERT [dbo].[Programs] ([program_id], [program_code], [name], [department_id], [degree_level], [duration_months], [created_at]) VALUES (1008, N'BUS301', N'MBA Business Administration', 1004, N'Master', 18, CAST(N'2025-12-03T01:37:37.6266667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Programs] OFF
GO
SET IDENTITY_INSERT [dbo].[Sections] ON 

INSERT [dbo].[Sections] ([section_id], [course_id], [section_code], [term], [year], [instructor_id], [capacity], [schedule], [location]) VALUES (5, 5, N'J', N'Fall', 2025, 7, 25, N'Tue/Thu 13:00-14:30', N'Room SCI201')
INSERT [dbo].[Sections] ([section_id], [course_id], [section_code], [term], [year], [instructor_id], [capacity], [schedule], [location]) VALUES (6, 6, N'K', N'Spring', 2026, 8, 20, N'Mon/Wed 09:00-10:30', N'Room ART201')
SET IDENTITY_INSERT [dbo].[Sections] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentAddresses] ON 

INSERT [dbo].[StudentAddresses] ([address_id], [student_id], [address_type], [line1], [line2], [city], [state], [postal_code], [country], [is_primary]) VALUES (4, 8, N'home', N'45 Gravity Rd', NULL, N'Pretoria', NULL, N'0008', N'South Africa', 1)
INSERT [dbo].[StudentAddresses] ([address_id], [student_id], [address_type], [line1], [line2], [city], [state], [postal_code], [country], [is_primary]) VALUES (5, 9, N'home', N'67 Art Blvd', NULL, N'Johannesburg', NULL, N'2004', N'South Africa', 1)
INSERT [dbo].[StudentAddresses] ([address_id], [student_id], [address_type], [line1], [line2], [city], [state], [postal_code], [country], [is_primary]) VALUES (6, 8, N'home', N'45 Gravity Rd', NULL, N'Pretoria', NULL, N'0008', N'South Africa', 1)
SET IDENTITY_INSERT [dbo].[StudentAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([student_id], [student_number], [first_name], [middle_name], [last_name], [preferred_name], [date_of_birth], [email], [phone], [program_id], [enrollment_year], [student_metadata], [is_active], [created_at], [created_by], [modified_at], [modified_by]) VALUES (5, N'S001', N'Alice', NULL, N'Smith', NULL, CAST(N'2000-05-12' AS Date), N'alice@example.com', N'555-111', 1006, 2019, NULL, 1, CAST(N'2025-12-02T23:39:33.2036876' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Students] ([student_id], [student_number], [first_name], [middle_name], [last_name], [preferred_name], [date_of_birth], [email], [phone], [program_id], [enrollment_year], [student_metadata], [is_active], [created_at], [created_by], [modified_at], [modified_by]) VALUES (6, N'S002', N'Bob', NULL, N'Johnson', NULL, CAST(N'1999-11-23' AS Date), N'bob@example.com', N'555-222', 1007, 2020, NULL, 1, CAST(N'2025-12-02T23:39:33.2036876' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Students] ([student_id], [student_number], [first_name], [middle_name], [last_name], [preferred_name], [date_of_birth], [email], [phone], [program_id], [enrollment_year], [student_metadata], [is_active], [created_at], [created_by], [modified_at], [modified_by]) VALUES (7, N'S003', N'Charlie', NULL, N'Brown', NULL, CAST(N'2001-02-14' AS Date), N'charlie@example.com', N'555-333', 1008, 2021, NULL, 1, CAST(N'2025-12-02T23:39:33.2036876' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemUsers] ON 

INSERT [dbo].[SystemUsers] ([user_id], [username], [password_hash], [display_name], [student_id], [instructor_id], [roles], [is_locked]) VALUES (6, N'isaac.newton', N'hashed_pw_23', N'Isaac Newton', 8, NULL, N'student', 0)
INSERT [dbo].[SystemUsers] ([user_id], [username], [password_hash], [display_name], [student_id], [instructor_id], [roles], [is_locked]) VALUES (8, N'albert.einstein', N'hashed_pw_25', N'Albert Einstein', NULL, 7, N'instructor', 0)
SET IDENTITY_INSERT [dbo].[SystemUsers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Courses__AB6B45F1D56D37A6]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[course_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__EBC3495E27905C51]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[department_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_student_section]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[Enrollments] ADD  CONSTRAINT [uq_student_section] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[section_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Instruct__8C453B0D04DCDD51]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[Instructors] ADD UNIQUE NONCLUSTERED 
(
	[employee_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Instruct__AB6E6164B38D07DF]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[Instructors] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Programs__15D04C8B360E0404]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[Programs] ADD UNIQUE NONCLUSTERED 
(
	[program_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [uq_section_course_term]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[Sections] ADD  CONSTRAINT [uq_section_course_term] UNIQUE NONCLUSTERED 
(
	[course_id] ASC,
	[section_code] ASC,
	[term] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__0E749A797A37C4BB]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[student_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Students__AB6E6164BA6A0E90]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[Students] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SystemUs__2A33069B12F52D37]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[SystemUsers] ADD UNIQUE NONCLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__SystemUs__A1EF56E9EA3BC1E0]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[SystemUsers] ADD UNIQUE NONCLUSTERED 
(
	[instructor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemUs__F3DBC5729DD1A41C]    Script Date: 12/3/2025 2:14:17 AM ******/
ALTER TABLE [dbo].[SystemUsers] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (sysutcdatetime()) FOR [enrolled_at]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Programs] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT ((0)) FOR [capacity]
GO
ALTER TABLE [dbo].[StudentAddresses] ADD  DEFAULT ('USA') FOR [country]
GO
ALTER TABLE [dbo].[StudentAddresses] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[SystemUsers] ADD  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[CoursePrerequisites]  WITH NOCHECK ADD  CONSTRAINT [fk_prereq_course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CoursePrerequisites] CHECK CONSTRAINT [fk_prereq_course]
GO
ALTER TABLE [dbo].[CoursePrerequisites]  WITH NOCHECK ADD  CONSTRAINT [fk_prereq_required] FOREIGN KEY([prerequisite_course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[CoursePrerequisites] CHECK CONSTRAINT [fk_prereq_required]
GO
ALTER TABLE [dbo].[Courses]  WITH NOCHECK ADD  CONSTRAINT [fk_course_department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [fk_course_department]
GO
ALTER TABLE [dbo].[Enrollments]  WITH NOCHECK ADD  CONSTRAINT [fk_enrollment_section] FOREIGN KEY([section_id])
REFERENCES [dbo].[Sections] ([section_id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [fk_enrollment_section]
GO
ALTER TABLE [dbo].[Enrollments]  WITH NOCHECK ADD  CONSTRAINT [fk_enrollment_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [fk_enrollment_student]
GO
ALTER TABLE [dbo].[Instructors]  WITH NOCHECK ADD  CONSTRAINT [fk_instructor_department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [fk_instructor_department]
GO
ALTER TABLE [dbo].[Programs]  WITH NOCHECK ADD  CONSTRAINT [fk_program_department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Departments] ([department_id])
GO
ALTER TABLE [dbo].[Programs] CHECK CONSTRAINT [fk_program_department]
GO
ALTER TABLE [dbo].[Sections]  WITH NOCHECK ADD  CONSTRAINT [fk_section_course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [fk_section_course]
GO
ALTER TABLE [dbo].[Sections]  WITH NOCHECK ADD  CONSTRAINT [fk_section_instructor] FOREIGN KEY([instructor_id])
REFERENCES [dbo].[Instructors] ([instructor_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [fk_section_instructor]
GO
ALTER TABLE [dbo].[StudentAddresses]  WITH NOCHECK ADD  CONSTRAINT [fk_address_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StudentAddresses] CHECK CONSTRAINT [fk_address_student]
GO
ALTER TABLE [dbo].[Students]  WITH NOCHECK ADD  CONSTRAINT [fk_student_program] FOREIGN KEY([program_id])
REFERENCES [dbo].[Programs] ([program_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [fk_student_program]
GO
ALTER TABLE [dbo].[SystemUsers]  WITH NOCHECK ADD  CONSTRAINT [fk_user_instructor] FOREIGN KEY([instructor_id])
REFERENCES [dbo].[Instructors] ([instructor_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SystemUsers] CHECK CONSTRAINT [fk_user_instructor]
GO
ALTER TABLE [dbo].[SystemUsers]  WITH NOCHECK ADD  CONSTRAINT [fk_user_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SystemUsers] CHECK CONSTRAINT [fk_user_student]
GO
ALTER TABLE [dbo].[CoursePrerequisites]  WITH NOCHECK ADD  CONSTRAINT [chk_prereq_not_self] CHECK  (([course_id]<>[prerequisite_course_id]))
GO
ALTER TABLE [dbo].[CoursePrerequisites] CHECK CONSTRAINT [chk_prereq_not_self]
GO
ALTER TABLE [dbo].[Courses]  WITH NOCHECK ADD CHECK  (([credits]>=(0)))
GO
ALTER TABLE [dbo].[Enrollments]  WITH NOCHECK ADD CHECK  (([grade] IS NULL OR ([grade]='D-' OR [grade]='D+' OR [grade]='C-' OR [grade]='C+' OR [grade]='B-' OR [grade]='B+' OR [grade]='A-' OR [grade]='A+' OR [grade]='W' OR [grade]='I' OR [grade]='NP' OR [grade]='P' OR [grade]='F' OR [grade]='D' OR [grade]='C' OR [grade]='B' OR [grade]='A')))
GO
ALTER TABLE [dbo].[Enrollments]  WITH NOCHECK ADD CHECK  (([status]='withdrawn' OR [status]='completed' OR [status]='dropped' OR [status]='waitlisted' OR [status]='enrolled'))
GO
ALTER TABLE [dbo].[Programs]  WITH NOCHECK ADD CHECK  (([degree_level]='Certificate' OR [degree_level]='Doctorate' OR [degree_level]='Master' OR [degree_level]='Bachelor' OR [degree_level]='Associate'))
GO
ALTER TABLE [dbo].[Programs]  WITH NOCHECK ADD CHECK  (([duration_months]>=(0)))
GO
ALTER TABLE [dbo].[Sections]  WITH NOCHECK ADD CHECK  (([capacity]>=(0)))
GO
ALTER TABLE [dbo].[Sections]  WITH NOCHECK ADD CHECK  (([year]>=(1900) AND [year]<=(datepart(year,getdate())+(3))))
GO
ALTER TABLE [dbo].[StudentAddresses]  WITH NOCHECK ADD CHECK  (([address_type]='other' OR [address_type]='billing' OR [address_type]='mailing' OR [address_type]='home'))
GO
ALTER TABLE [dbo].[Students]  WITH NOCHECK ADD  CONSTRAINT [chk_student_email] CHECK  (([email] IS NULL OR [email] like '_%@_%._%'))
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [chk_student_email]
GO
ALTER TABLE [dbo].[Students]  WITH NOCHECK ADD CHECK  (([enrollment_year]>=(1900) AND [enrollment_year]<=(datepart(year,getdate())+(10))))
GO
